*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;

}

:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 93%);
    --color-gray: hsl(252, 15%, 60%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 60%);
    --color-danger: hsl(0, 95%, 60%);
    --color-dark: hsl(252, 30%, 15%);
    --color-black: hsl(252, 30%, 8%);


    --border-radius: 2rem;
    --card-border-radius: 1rem;

    --btn-padding: .6rem 2rem;

    --search-padding: .6rem 1rem;
    --card-padding: 1rem;


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    /* overflow: hidden; */
}

/* ............Custom Style............. */
.container {
    width: 90%;
    margin: 0 auto;

}

img {
    display: block;
    width: 100%;
}

.profile-picture {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture:hover{
    opacity: 0.75;
}

.btn {
    padding: var(--btn-padding);
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-weight: 400;
    transition: 300ms ease all;
}

.btn:hover {
    opacity: 0.75;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.text-bold {
    font-weight: 500;

}

.text-gry {
    color: var(--color-gray);
}


/* .....................Start NavBar.................... */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: .7rem 0;
    background: var(--color-white);

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .serch-bar {
    padding: var(--search-padding);
    background: var(--color-light);
    border-radius: var(--border-radius);

}

nav .serch-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark);

}

nav .serch-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

.add-post{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.logo h3{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
    color: var(--color-dark);

}

.logo span{
    color: var(--color-danger);

}

/* .....................End NavBar.................... */

/* .....................Start Main Session.................... */
main{
    position: relative;
    top: 6rem;
}

.main-container{
    display: grid;
    grid-template-columns: 18vw auto ;
    position: relative;
    
}

/* ..............................Start Main Left.................... */
.main-left{
    position: sticky;
    height: max-content;
    top: 5.4rem;
}

.main-left .profile{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100%;
    gap: 1rem;
    display: flex;
}

aside{
    
    margin-top: 1rem;
    border-radius: var(--card-border-radius);
    

}

aside .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    cursor: pointer;
    transition: 300ms ease all;
    background-color: var(--color-white);
}

aside .menu-item:hover{
    background: var(--color-light);
}

aside .menu-item span img{
    width: 1.8rem;
    margin-left: 2rem;
    position: relative;

}

aside .notfy-counter{
    background: var(--color-danger);
    color: var(--color-white);
    width: fit-content;
    font-size: .7rem;
    border-radius: 30%;
    padding: .1rem .4rem;
    position: absolute;
    top: .7rem;
    left: 3.2rem;
}

aside .menu-item h3{
    margin-left: 1.5rem;
    font-size: 1rem;

}
aside .active{
    background: var(--color-light);


}
aside .active h3{
    color: var(--color-primary);
}

aside .active::before{
    content: '';
    display: block;
    width: .5rem;
    height: 100%;
    background: var(--color-primary);

}

aside .menu-item:first-child{
    overflow: hidden;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

aside .menu-item:nth-last-child(2){
    overflow: hidden;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.btn-lg{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
/* ------------------------------End Main Left------------------------------------- */


/* ------------------------------Start Main Middle------------------------------------- */
.main-middle{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-left: 50px;
}

.middle-container{
    /* max-width: 700px !important;  */
    width: 21%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) ;
    margin: 15px;
    /* height: 320px; */
}
.middle-container img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 10px;
}
.card-content h4{
    font-size: 18px;
    margin-bottom: 8px;
}
.card-content .btn-confirm{
    display: block;
    padding: 7px 22px;
    text-decoration: none;
    text-align: center;
    background-color: #1714b4;
    color: white;
    margin: 5px;
    border-radius: 7px;
}
.card-content .btn-delete{
    display: block;
    padding: 7px 22px;
    text-decoration: none;
    text-align: center;
    background-color: #b5b8c2;
    color: black;
    margin: 7px;
    border-radius: 7px;
    transition: 0.5s;
    
}
.card-content .btn-delete:hover{
    background-color: #91939b;
    

    
}

.liked-by{
    display: flex;
}

.liked-by span{
    border-radius: 50%;
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    overflow: hidden;
    margin-left: -.6rem;
    border: 2px solid var(--color-white);
}

.liked-by span:first-child{
    margin: 0;
}

.liked-by p{
    margin-left: .5rem;

}

.edit .edit-menu{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: 0;
    box-shadow: 0 0 .2rem var(--color-primary);
    top: 2.4rem;
    transform: scale(0);
    transition: 300ms all ease;
    transform-origin: top right;

}

.edit:hover .edit-menu{
    transform: scale(1);
}

.edit .edit-menu li {
    display: flex;
    gap: .7rem;
    align-items: center;
    font-size: 1rem;
    color: var(--color-gray);
    transition: 300ms ease all;
}

.edit .edit-menu li:hover{
    color: var(--color-dark);
    
}

.edit .edit-menu li:last-child:hover{
    color: var(--color-danger);

}
/* --------------------End Feeds Aria------------------------- */

/* ----------Start Popup Aria------------ */
.popup{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 9;
    background: #000000ba;
    display: none;
    
}
.popup>div{
    display: flex;
    
}
.profile-popup-box{
    width: 400px;
    height: 460px;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.profile-popup-box>div{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2rem ;
}

#profile-upload{
    display: none;
}

.profile-popup-box h1{
    line-height: 1.8;
}

.popup .close{
    font-size: 1.6rem;
    color: var(--color-white);
    margin-left: .5rem;
    margin-top: -.5rem;

}

/* ----------End Popup Aria------------ */
/* ------------------------------End Main Middle------------------------------------- */


/* .....................End Main Session.................... */