<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        #file-input {
            display: none;
        }

        /* Style for the image preview */
        .image-preview {
            margin-top: 10px;
            max-width: 100%;
            max-height: 300px;
            display: none; /* Initially hidden */
        }

        .image-containers {
            width: 100%;
            text-align: center;
        }

        .image-containers img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .modall {
            scrollbar-width: none;
            -ms-overflow-style: none;
            display: none;
            position: absolute;
            z-index: 9;
            left: 50%;
            transform: translateX(-50%);

            top: 150px;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);

        }

        .modall-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        .closee {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .closee:hover,
        .closee:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Community </title>
    <!-- ------------------Custom Css link -->
    <link rel="stylesheet" href="./Assets/Style.css">
    <link rel="stylesheet" href="./Assets/postStyle.css">
    <!-- ----Font Awesome  -->
    <!-- -------Swiper Slider Link------ -->
    <link rel="stylesheet" href="./fontawesome-free-6.3.0-web/css/all.css">
    <link rel="stylesheet" href="./Assets/Swiper/swiper-bundle.min.css">


</head>

<body>
<!-- Post-->


<div class="containers modall" id="myModal">
    <span class="closee">&times;</span>
    <div class="wrapper">
        <section class="post">
            <form action="/submitPost" method="POST" enctype="multipart/form-data">
                <div class="content">
                    <img src="./Assets/icons/logo.png" alt="logo">
                    <div class="details">
                        <p>Student Community</p>
                        <div class="privacy">
                            <i id="iconPost" class="fas fa-globe-asia"></i>
                            <span id="privacytype">Public</span>
                            <i class="fas fa-caret-down"></i>

                        </div>
                    </div>
                </div>
                <textarea name="content" placeholder="What's on your mind, Aung?" spellcheck="false" id="caption"
                          required></textarea>


                        <div class="image-containers" id="image-containers">

                        </div>


                <!--                        <div class="theme-emoji">-->
                <!--                            <img src="./Assets/icons/theme.svg" alt="theme">-->
                <!--                            <img src="./Assets/icons/smile.svg" alt="smile">-->
                <!--                        </div>-->
                <div class="options">
                    <p>Add to Your Post</p>
                    <ul class="list">
                        <li id="file-icon">
                            <input type="file" id="fileInput" multiple accept="image/*" style="display: none;">
                            <img src="./Assets/icons/gallery.svg" alt="gallery"></li>
                        <li><img src="./Assets/icons/tag.svg" alt="tag"></li>
                        <li><img src="./Assets/icons/emoji.svg" alt="emoji"></li>
                        <li><img src="./Assets/icons/mic.svg" alt="mic"></li>
                        <li><img src="./Assets/icons/more.svg" alt="more"></li>
                    </ul>
                </div>

                <button id="postSubmit">Post</button>
            </form>
        </section>
        <section class="audience">
            <header>
                <div class="arrow-back"><i class="fas fa-arrow-left"></i></div>

                <p>Select Audience</p>
            </header>
            <div class="content">
                <p>Who can see your post?</p>
                <span>Your post will show up in News Feed, on your profile and in search results.</span>
            </div>
            <ul class="list forAudience">
                <li id="activePublic" class="active" value="Public">
                    <div class="column">
                        <div class="icon"><i class="fas fa-globe-asia"></i></div>
                        <div class="details">
                            <p>Public</p>
                            <span>Anyone on or off Facebook</span>
                        </div>
                    </div>
                    <div class="radio"></div>
                </li>
                <li value="Friends">
                    <div class="column">
                        <div class="icon"><i class="fas fa-user"></i></div>
                        <div class="details">
                            <p>Friends</p>
                            <span>Your friends on Facebook</span>
                        </div>
                    </div>
                    <div class="radio"></div>
                </li>
                <li value="FOFriends">
                    <div class="column">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <div class="details">
                            <p>Friends Of Friends</p>
                            <span>Only show to some friends</span>
                        </div>
                    </div>
                    <div class="radio"></div>
                </li>
                <li value="Only me">
                    <div class="column">
                        <div class="icon"><i class="fas fa-lock"></i></div>
                        <div class="details">
                            <p>Only me</p>
                            <span>Only you can see your post</span>
                        </div>
                    </div>
                    <div class="radio"></div>
                </li>
                <li value="Custom">
                    <div class="column">
                        <div class="icon"><i class="fas fa-cog"></i></div>
                        <div class="details">
                            <p>Custom</p>
                            <span>Include and exclude friends</span>
                        </div>
                    </div>
                    <div class="radio"></div>
                </li>
            </ul>
        </section>
    </div>
</div>


<!-- ..................Start Navbar...................... -->
<nav>
    <div class="container nav-container">
        <div class="logo">
            <h3>Community <span>Forum</span></h3>
        </div>
        <div class="serch-bar">
            <i class="fa fa-search"></i>
            <input type="search" name="" id="search" placeholder="Search For Creators">
        </div>
        <div class="add-post">
            <label for="add-post" class="btn btn-primary" id="openModalBtn">GGGGGGGGGG</label>
            <div class="profile-picture" id="my-profile-picture">
                <img src="./Assets/images/img/profile-1.jpeg" alt="">
            </div>
        </div>
    </div>
</nav>
<!-- ...................Start Navbar................... -->


<!-- ...................Start Main Session...................-->
<main>
    <div class="container main-container">


        <!-- ...........Main Left Start......... -->
        <div class="main-left">

            <!--..................... Profile Start.............. -->
            <a class="profile">
                <div class="profile-picture" id="my-profile-picture-left">
                    <img src="./Assets/images/img/profile-1.jpeg" alt="">
                </div>
                <div class="profile-handle">
                    <h4 id="name"></h4>
                </div>
            </a>

            <!--..................... Profile End.............. -->

            <!-- ............Start Aside Bar............... -->
            <aside>
                <a class="menu-item">
                        <span>
                            <img src="/Assets/images/svg/house-door.svg" alt="">
                        </span>
                    <h3>Home</h3>
                </a>

                <a href="friends" class="menu-item">
                        <span>
                            <img src="/Assets/images/svg/friends-svgrepo-com.svg" alt="">
                        </span>
                    <h3>Friends</h3>
                </a>

                <a class="menu-item">
                        <span>
                            <img src="./Assets/images/svg/bell.svg" alt="">
                        </span>
                    <small class="notfy-counter">7+</small>
                    <h3>Notifications</h3>

                    <!--........... Notifications Box Start............. -->
                    <div class="notification-box">
                        <div>
                            <div class="profile-picture">
                                <img src="./Assets/images/img/n1.jpg" alt="">
                            </div>
                            <div class="notification-body">
                                <b>Aye Aye Min san</b> accepted your friend request
                                <small class="text-gry">1 DAYS AGO</small>
                            </div>

                        </div>

                        <div>
                            <div class="profile-picture">
                                <img src="./Assets/images/img/n2.png" alt="">
                            </div>
                            <div class="notification-body">
                                <b>Syan par Chan</b> commented on your post
                                <small class="text-gry">2 HOUR AGO</small>
                            </div>

                        </div>

                        <div>
                            <div class="profile-picture">
                                <img src="./Assets/images/img/n3.png" alt="">
                            </div>
                            <div class="notification-body">
                                <b>Aung Myo Kyaw</b> liked on your post
                                <small class="text-gry">JUST NOW</small>
                            </div>

                        </div>

                        <div>
                            <div class="profile-picture">
                                <img src="./Assets/images/img/n4.png" alt="">
                            </div>
                            <div class="notification-body">
                                <b>Aung Myint Tun</b> and <b> 10 others </b> liked on your post
                                <small class="text-gry">TODAY</small>
                            </div>

                        </div>

                        <div>
                            <div class="profile-picture">
                                <img src="./Assets/images/img/n5.png" alt="">
                            </div>
                            <div class="notification-body">
                                <b>Kyaw Naing</b> and <b> 5 others </b> commented on your post
                                <small class="text-gry">3 DAYS AGO</small>
                            </div>

                        </div>
                    </div>
                    <!--........... Notifications Box End ............. -->

                </a>

                <a class="menu-item">
                        <span>
                            <img src="./Assets/images/svg/chat-dots.svg" alt="">
                        </span>
                    <small class="notfy-counter">3</small>
                    <h3>Message</h3>
                </a>

                <a class="menu-item">
                        <span>
                            <img src="./Assets/images/svg/bookmarks.svg" alt="">
                        </span>
                    <h3>Saved</h3>
                </a>


                <a class="menu-item">
                        <span>
                            <img src="./Assets/images/svg/palette.svg" alt="">
                        </span>
                    <h3>Theme</h3>
                </a>

                <a class="menu-item">
                        <span>
                            <img src="./Assets/images/svg/gear.svg" alt="">
                        </span>
                    <h3>Settings</h3>
                </a>

                <a class="menu-item">
                        <span>
                            <img src="./Assets/images/svg/help-support.svg" alt="">
                        </span>
                    <h3>Help & Support</h3>
                </a>


                <!-- ..........Add Post Btn...........-->
                <label for="add-post" class="btn btn-primary btn-lg"><a href="profile"
                                                                        style="text-decoration: none; color: aliceblue; font-weight: bolder;">View
                    Profile Details</a></label>

            </aside>

            <!-- ............End Aside Bar............... -->

        </div>
        <!-- ...........Main Left End......... -->

        <!--======================Main Middle Start====================== -->

        <div class="main-middle">
            <div class="middle-container">
                <!-- ---Start Stories ---------- -->
                <div class="stories">
                    <div class="swiper mySwiper1 stories-wrapper" style="margin-left: 0;">
                        <div class="swiper-wrapper">
                            <div class="story swiper-slide">
                                <img src="" alt="">
                                <div class="profile-picture my-profile-picture" id="my-profile-picture">
                                    <img src="./Assets/images/img/profile-1.jpeg" alt="">
                                </div>
                                <div class="add-story">
                                    <i class="fa fa-add" id="upload"></i>
                                    <p>Add Your <br>Story</p>
                                </div>
                            </div>

                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/st1.jpg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s1.jpg" alt="">
                                </div>
                                <p>Aye Aye Min San</p>
                            </div>

                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/st2.jpeg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s2.jpg" alt="">
                                </div>
                                <p>Syan Par Chan</p>
                            </div>

                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/st3.jpg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s3.jpg" alt="">
                                </div>
                                <p>Moe Win</p>
                            </div>

                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/m1.jpg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s4.jpg" alt="">
                                </div>
                                <p>Aung Myo Kyaw</p>
                            </div>

                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/st6.jpg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s5.jpg" alt="">
                                </div>
                                <p>Kyaw Kyaw Naing</p>
                            </div>

                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/n3.png" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/st5.jpg" alt="">
                                </div>
                                <p>Aung Myint Tun</p>
                            </div>

                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/st1.jpg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s1.jpg" alt="">
                                </div>
                                <p>Aye Aye Min San</p>
                            </div>
                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/st1.jpg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s1.jpg" alt="">
                                </div>
                                <p>Aye Aye Min San</p>
                            </div>
                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/st1.jpg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s1.jpg" alt="">
                                </div>
                                <p>Aye Aye Min San</p>
                            </div>

                            <div class="story swiper-slide">
                                <img src="./Assets/images/img/st5.jpg" alt="">
                                <div class="profile-picture my-profile-picture">
                                    <img src="./Assets/images/img/s7.jpg" alt="">
                                </div>
                                <p>Taylor</p>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <!-- ---------------------------End Stories --------------------------- -->

                <!-- =======================Post Input==================== -->
                <form class="add-post">
                    <div class="profile-picture" id="my-profile-picture">
                        <img src="./Assets/images/img/profile-1.jpeg" alt="">
                    </div>

                    <input type="text" name="" id="add-post" placeholder="What's on your mind?">
                    <input type="submit" value="post" class="btn btn-primary">
                </form>

                <!-- -------------------Feed Aria Start----------- ----->
                <div class="feeds" id="postsContainer">
                    <div class="feed">
                        <!------------------- Feed Top------------ -->

                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture" id="my-profile-picture">
                                    <img src="./Assets/images/img/profile-1.jpeg" alt="">
                                </div>

                                <div class="info">
                                    <h3>Aung Khaing Moe</h3>
                                    <div class="time text-gry">
                                        <small>YGN, <span>JUST NOW</span></small>
                                    </div>
                                </div>
                            </div>
                            <span class="edit">
                                    <img src="./Assets/images/svg/three-dots.svg" alt="">
                                    <ul class="edit-menu">
                                        <li><i class="fa fa-pen"></i>Edit</li>
                                        <li><i class="fa fa-trash"></i>Delete</li>
                                    </ul>
                                </span>
                        </div>
                        <!------------------- Feed Img------------ -->
                        <div class="feed-img">
                            <h2>Hello World, I'm Aye Aye Min san's BF<br>
                                from YGN
                            </h2>
                        </div>
                        <!------------------- Feed Action Aria------------ -->
                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="fa fa-heart"></i></span>
                                <span><i class="fa fa-comment-dots"></i></span>
                                <span><i class="fa fa-link"></i></span>
                            </div>
                            <div class="bookmark">
                                <i class="fa fa-bookmark"></i>
                            </div>
                        </div>

                        <!-- -----------------Liked by-------------- -->
                        <div class="liked-by">
                                <span>
                                    <img src="./Assets/images/img/n2.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n3.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n4.png" alt="">
                                </span>

                            <p>Liked by <b>Syan Par Chan</b> and <b>77 comments other</b></p>
                        </div>

                        <!-- ----------Caption--------------- -->
                        <div class="caption">
                            <p><b>Chill </b>Lorem ipsum dolor sit amet, consectetur adipisicing.
                                <span class="hars-tag">#lifestyle</span>
                            </p>
                        </div>

                        <!-- -------------Comments------------ -->
                        <div class="comments text-gry">
                            View all comments
                        </div>

                    </div>

                    <div class="feed">
                        <!------------------- Feed Top------------ -->

                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./Assets/images/img/st6.jpg" alt="">
                                </div>

                                <div class="info">
                                    <h3>Mi Jore Pare Chan</h3>
                                    <div class="time text-gry">
                                        <small>India, <span>2 DAYS AGO</span></small>
                                    </div>
                                </div>
                            </div>
                            <span class="edit">
                                    <img src="./Assets/images/svg/three-dots.svg" alt="">
                                </span>
                        </div>
                        <!------------------- Feed Img------------ -->
                        <div class="feed-img">
                            <img src="./Assets/images/img/feed4.jpg" alt="">
                        </div>
                        <!------------------- Feed Action Aria------------ -->
                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="fa fa-heart"></i></span>
                                <span><i class="fa fa-comment-dots"></i></span>
                                <span><i class="fa fa-link"></i></span>
                            </div>
                            <div class="bookmark">
                                <i class="fa fa-bookmark"></i>
                            </div>
                        </div>

                        <!-- -----------------Liked by-------------- -->
                        <div class="liked-by">
                                <span>
                                    <img src="./Assets/images/img/n2.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n3.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n4.png" alt="">
                                </span>

                            <p>Liked by <b>Aung Myo Kyaw</b> and <b>77 comments other</b></p>
                        </div>

                        <!-- ----------Caption--------------- -->
                        <div class="caption">
                            <p><b>Chill </b>Lorem ipsum dolor sit amet, consectetur adipisicing.
                                <span class="hars-tag">#lifestyle</span>
                            </p>
                        </div>

                        <!-- -------------Comments------------ -->
                        <div class="comments text-gry">
                            View all comments
                        </div>

                    </div>

                    <div class="feed">
                        <!------------------- Feed Top------------ -->

                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./Assets/images/img/st4.jpg" alt="">
                                </div>

                                <div class="info">
                                    <h3>Aye Aye Min San</h3>
                                    <div class="time text-gry">
                                        <small>Korea, <span>2 DAYS AGO</span></small>
                                    </div>
                                </div>
                            </div>
                            <span class="edit">
                                    <img src="./Assets/images/svg/three-dots.svg" alt="">
                                </span>
                        </div>
                        <!------------------- Feed Img------------ -->
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="feed-img">
                                        <img src="./Assets/images/img/feed6.png" alt="">
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="feed-img">
                                        <img src="./Assets/images/img/feed6.png" alt="">
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="feed-img">
                                        <img src="./Assets/images/img/feed6.png" alt="">
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="feed-img">
                                        <img src="./Assets/images/img/feed6.png" alt="">
                                    </div>
                                </div>
                                <!-- Add more slides as needed -->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Navigation -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- Add Scrollbar -->
                            <div class="swiper-scrollbar"></div>
                        </div>

                        <!------------------- Feed Action Aria------------ -->
                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="fa fa-heart"></i></span>
                                <span><i class="fa fa-comment-dots"></i></span>
                                <span><i class="fa fa-link"></i></span>
                            </div>
                            <div class="bookmark">
                                <i class="fa fa-bookmark"></i>
                            </div>
                        </div>

                        <!-- -----------------Liked by-------------- -->
                        <div class="liked-by">
                                <span>
                                    <img src="./Assets/images/img/n2.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n3.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n4.png" alt="">
                                </span>

                            <p>liked by <b>Syan Par Chan</b> and <b>77 comments other</b></p>
                        </div>

                        <!-- ----------Caption--------------- -->
                        <div class="caption">
                            <p><b>Chill </b>Lorem ipsum dolor sit amet, consectetur adipisicing.
                                <span class="hars-tag">#lifestyle</span>
                            </p>
                        </div>

                        <!-- -------------Comments------------ -->
                        <div class="comments text-gry">
                            View all comments
                        </div>

                    </div>

                    <div class="feed">
                        <!------------------- Feed Top------------ -->

                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./Assets/images/img/st4.jpg" alt="">
                                </div>

                                <div class="info">
                                    <h3>Aye Aye Min San</h3>
                                    <div class="time text-gry">
                                        <small>Korea, <span>2 DAYS AGO</span></small>
                                    </div>
                                </div>
                            </div>
                            <span class="edit">
                                    <img src="./Assets/images/svg/three-dots.svg" alt="">
                                </span>
                        </div>
                        <!------------------- Feed Img------------ -->
                        <div class="feed-img">
                            <img src="./Assets/images/img/feed7.jpg" alt="">
                        </div>
                        <!------------------- Feed Action Aria------------ -->
                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="fa fa-heart"></i></span>
                                <span><i class="fa fa-comment-dots"></i></span>
                                <span><i class="fa fa-link"></i></span>
                            </div>
                            <div class="bookmark">
                                <i class="fa fa-bookmark"></i>
                            </div>
                        </div>

                        <!-- -----------------Liked by-------------- -->
                        <div class="liked-by">
                                <span>
                                    <img src="./Assets/images/img/n2.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n3.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n4.png" alt="">
                                </span>

                            <p>liked by <b>Syan Par Chan</b> and <b>77 comments other</b></p>
                        </div>

                        <!-- ----------Caption--------------- -->
                        <div class="caption">
                            <p><b>Chill </b>Lorem ipsum dolor sit amet, consectetur adipisicing.
                                <span class="hars-tag">#lifestyle</span>
                            </p>
                        </div>

                        <!-- -------------Comments------------ -->
                        <div class="comments text-gry">
                            View all comments
                        </div>

                    </div>


                    <div class="feed">
                        <!------------------- Feed Top------------ -->

                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./Assets/images/img/st4.jpg" alt="">
                                </div>

                                <div class="info">
                                    <h3>Aye Aye Min San</h3>
                                    <div class="time text-gry">
                                        <small>Korea, <span>2 DAYS AGO</span></small>
                                    </div>
                                </div>
                            </div>
                            <span class="edit">
                                    <img src="./Assets/images/svg/three-dots.svg" alt="">
                                </span>
                        </div>
                        <!------------------- Feed Img------------ -->
                        <div class="feed-img">
                            <h2>Hello World, I'm Aye Aye Min san<br>
                                from Korea
                            </h2>
                        </div>
                        <!------------------- Feed Action Aria------------ -->
                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="fa fa-heart"></i></span>
                                <span><i class="fa fa-comment-dots"></i></span>
                                <span><i class="fa fa-link"></i></span>
                            </div>
                            <div class="bookmark">
                                <i class="fa fa-bookmark"></i>
                            </div>
                        </div>

                        <!-- -----------------Liked by-------------- -->
                        <div class="liked-by">
                                <span>
                                    <img src="./Assets/images/img/n2.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n3.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n4.png" alt="">
                                </span>

                            <p>Liked by <b>Syan Par Chan</b> and <b>77 comments other</b></p>
                        </div>

                        <!-- ----------Caption--------------- -->
                        <div class="caption">
                            <p><b>Chill </b>Lorem ipsum dolor sit amet, consectetur adipisicing.
                                <span class="hars-tag">#lifestyle</span>
                            </p>
                        </div>

                        <!-- -------------Comments------------ -->
                        <div class="comments text-gry">
                            View all comments
                        </div>

                    </div>

                    <div class="feed">
                        <!------------------- Feed Top------------ -->

                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./Assets/images/img/st4.jpg" alt="">
                                </div>

                                <div class="info">
                                    <h3>Aye Aye Min San</h3>
                                    <div class="time text-gry">
                                        <small>Korea, <span>2 DAYS AGO</span></small>
                                    </div>
                                </div>
                            </div>
                            <span class="edit">
                                    <img src="./Assets/images/svg/three-dots.svg" alt="">
                                </span>
                        </div>
                        <!------------------- Feed Img------------ -->
                        <div class="feed-img">
                            <img src="./Assets/images/img/feed2.jpg" alt="">
                        </div>
                        <!------------------- Feed Action Aria------------ -->
                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="fa fa-heart"></i></span>
                                <span><i class="fa fa-comment-dots"></i></span>
                                <span><i class="fa fa-link"></i></span>
                            </div>
                            <div class="bookmark">
                                <i class="fa fa-bookmark"></i>
                            </div>
                        </div>

                        <!-- -----------------Liked by-------------- -->
                        <div class="liked-by">
                                <span>
                                    <img src="./Assets/images/img/n2.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n3.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n4.png" alt="">
                                </span>

                            <p>Liked by <b>Syan Par Chan</b> and <b>77 comments other</b></p>
                        </div>

                        <!-- ----------Caption--------------- -->
                        <div class="caption">
                            <p><b>Chill </b>Lorem ipsum dolor sit amet, consectetur adipisicing.
                                <span class="hars-tag">#lifestyle</span>
                            </p>
                        </div>

                        <!-- -------------Comments------------ -->
                        <div class="comments text-gry">
                            View all comments
                        </div>

                    </div>
                </div>
                <!-- -------------------Feed Aria End----------- ----->

            </div>
        </div>
        <!-- ======================Main Middle End======================-->

        <!-- ...........Main Right Start......... -->
        <div class="main-right">

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error non quasi reiciendis! Molestiae sapiente
            omnis unde corporis vitae officia aspernatur deleniti doloremque aliquam itaque saepe, quae totam
            laudantium voluptas aut. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus nulla
            nostrum voluptate blanditiis, dolores id sint magnam consequuntur fugiat aperiam incidunt culpa pariatur
            perspiciatis perferendis? Aliquid dolores doloremque veritatis tenetur. Explicabo ipsa dignissimos alias
            rerum velit quibusdam vitae maxime quae sunt cum minus laboriosam consequatur nihil error dolores,
            tempora ea, iste nam, soluta harum asperiores! Dolores laborum cum perferendis sequi adipisci quidem
            libero est facilis culpa asperiores ducimus minus fugiat ut, eaque temporibus doloribus facere
            exercitationem alias consequuntur nam commodi quas saepe dolor! Non sapiente, vel quo mollitia ratione
            nisi recusandae qui fuga voluptate consequatur neque esse corrupti obcaecati dignissimos!

        </div>
        <!-- ...........Main Right End......... -->
    </div>
</main>
<!-- ...................End Main Session................... -->

<!-- -----------------------Start PopUps Aria----------------- -->
<!-- ----------Start Profile-Popup------------- -->
<div class="popup profile-popup">
    <div>
        <div class="popup-box profile-popup-box">
            <h1>Aung Khaing Moe</h1>
            <p>@aungkhaingmoe</p>
            <div id="my-profile-picture">
                <img src="./Assets/images/img/profile-1.jpeg">
            </div>
            <label for="profile-upload" class="btn btn-primary btn-lg"><a href="profile"
                                                                          style="text-decoration: none; color: aliceblue; font-weight: bolder;">View
                Profile Details</a></label>
            <!-- <input type="file" name="" accept="image/jpg , image/png, image/jpep" id="profile-upload"> -->
            <button class="btn btn-primary btn-lg">Log Out</button>
        </div>
        <span class="close"><i class="fa fa-close"></i></span>
    </div>
</div>
<!-- ----------End Profile-Popup------------- -->

<!-- -----------------------End PopUps Aria----------------- -->


<!-- ----------------Swiper JS---------------------- -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        var mySwiper1 = new Swiper(".mySwiper1", {
            slidesPerView: 6,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            direction: 'horizontal', // Ensures horizontal sliding
        });
    });

</script>


<script src="./Assets/Swiper/swiper-bundle.min.js"></script>
<!-- Custom Js Link -->
<script src="./Assets/Script.js"></script>

//validate session

<script src="assests/js/jquery.min.js"></script>
<script>
    var profileLeft = document.getElementById('my-profile-picture-left');
    profileLeft.addEventListener('click', () => {
        document.querySelector('.profile-popup').style.display = 'flex';
    });


    var username = '[[${email}]]';
    var id = '[[${id}]]';
    sessionStorage.setItem("id", id);
    sessionStorage.setItem("email", username);
    console.log(username);
    $(document).ready(function () {

        $.ajax({
            url: '/userInfo/' + username + '', // Replace with your actual API endpoint
            type: 'GET', // HTTP method
            dataType: 'json', // The type of data you're expecting back from the server
            success: function (data) {
                $('#name').text(data.name)
                $('#my-profile-picture-left img').attr('src', 'files/' + data.profile + '');
                // Access specific keys from the JSON object
                console.log("ID: " + data.id);
                console.log("Name: " + data.name);
                console.log("Email: " + data.email);

            },
            error: function (error) {
                console.log("Error: ", error);
            }
        });

    });
</script>
<script>
    document.getElementById('search').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent the default action (form submission)
            // Perform your action here
            const searchValue = event.target.value;
            console.log('Search value:', searchValue);
            // You can call a function or redirect to a search results page, for example
            window.location.href = `/search?query=${searchValue}`;
        }
    });
</script>
<!-- post modal-->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("openModalBtn");
        var span = document.getElementsByClassName("closee")[0];

        btn.onclick = function () {
            console.log("AAAAAAAAAAAAAAAAA")
            modal.style.display = "block";
        }

        span.onclick = function () {

            modal.style.display = "none";
            containers.classList.remove("active");
            removeActiveClassFromAll();
            $('#activePublic').attr('class', 'active');
            $('#privacytype').text('Public');
            $('#iconPost').attr('class', 'fas fa-globe-asia')
            imageContainer.innerHTML = ''; // Clear previous previews
            fileInput.value = ''; // Clear the file input


        }


        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });

</script>


<!--Post-->
<script>
    const containers = document.querySelector(".containers"),
        privacy = containers.querySelector(".post .privacy"),
        arrowBack = containers.querySelector(".audience .arrow-back"),
        fileIcon = document.getElementById('file-icon'),
        fileInput = document.getElementById('fileInput'),
        imageContainer = document.getElementById('image-containers');


    privacy.addEventListener("click", () => {
        containers.classList.add("active");
    });

    arrowBack.addEventListener("click", () => {
        containers.classList.remove("active");
        console.log("it work back")
        var activeLi = document.querySelector('ul.forAudience>li.active');
        $('#privacytype').text(activeLi.getAttribute('value'));
        if (activeLi.getAttribute('value') == 'Public') {
            $('#iconPost').attr('class', 'fas fa-globe-asia')
        } else if (activeLi.getAttribute('value') == "Friends") {
            $('#iconPost').attr('class', 'fas fa-user')
        } else if (activeLi.getAttribute('value') == "FOFriends") {
            $('#iconPost').attr('class', 'fas fa-user-friends')
        }
        console.log("ads" + activeLi.getAttribute('value'));
    });

    fileIcon.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', () => {
        const files = fileInput.files;
        // imageContainer.innerHTML = ''; // Clear previous previews

        if (files.length > 5) {
            alert("Please select a maximum of 5 photos");
            fileInput.value = ''; // Clear the file input
            return;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    var newSlide = document.createElement('div');
                    newSlide.classList.add('swiper-slide');
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.display = 'block';
                    img.style.maxWidth = '200px';
                    newSlide.appendChild(img);
                    imageContainer.appendChild(newSlide);
                };
                reader.readAsDataURL(file);
            }
        }
    });
    const listItems = document.querySelectorAll('ul.forAudience > li');

    // Function to remove the "active" class from all list items
    const removeActiveClassFromAll = () => {
        listItems.forEach(item => {
            item.classList.remove('active');

        });
    };

    // Add click event listener to each list item
    listItems.forEach(item => {
        item.addEventListener('click', (event) => {
            // Remove "active" class from all list items
            removeActiveClassFromAll();

            // Optionally, add "active" class to the clicked item
            event.currentTarget.classList.add('active');

            console.log('Clicked item:', event.currentTarget);
        });
    });


</script>
<script>
    document.getElementById('postSubmit').addEventListener('click', function (event) {
        event.preventDefault();

        var formData = new FormData();

        let files = fileInput.files;

        for (var i = 0; i < files.length; i++) {
            formData.append('images', files[i]); // Note the use of 'images[]' to handle multiple files
        }

// Base data structure
        const postRequest = {
            user_id: id,
            post: {
                content: $('#caption').val(),
                audience: $('#privacytype').text()
            },
            images: []
        };

// Iterate over the files and add image URLs to the images array
        for (var i = 0; i < files.length; i++) {
            // Create a URL for each file (you may replace this with the actual URL if you are uploading files)
            var imageName = files[i].name;
            postRequest.images.push({image_url: imageName});
        }
        formData.append("postRequest", JSON.stringify(postRequest));

        $.ajax({
            url: '/posts/createPost',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (response) {
                document.getElementById("myModal").style.display = "none";
                containers.classList.remove("active");
                removeActiveClassFromAll();
                $('#caption').val('');
                $('#activePublic').attr('class', 'active');
                $('#privacytype').text('Public');
                $('#iconPost').attr('class', 'fas fa-globe-asia')
                imageContainer.innerHTML = ''; // Clear previous previews
                fileInput.value = ''; // Clear the file input
                alert('post successful: ' + response);
            },
            error: function (error) {
                alert('post failed: ' + error.responseText);
            }
        });

    });
</script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var id=sessionStorage.getItem("id");
    $.get('/posts/getNewFeeds', { id: id }, function(response) {
        if (Array.isArray(response)) {
            var postsContainer = $('#postsContainer');
            postsContainer.empty();// Clear any existing content
            console.log(response);
            response.forEach(function(data) {

                 var postDiv = `<div class="feed">
                        <!------------------- Feed Top------------ -->

                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="files/${data.profile}" alt="">
                                </div>

                                <div class="info">
                                    <h3>${data.userName}</h3>
                                    <div class="time text-gry">
                                        <small>Korea, <span>2 DAYS AGO</span></small>
                                    </div>
                                </div>
                            </div>
                            <span class="edit">
                                    <img src="./Assets/images/svg/three-dots.svg" alt="">
                                </span>
                        </div>
                        <!------------------- Feed Img------------ -->
                       ${data.images.length > 1 ? `
                <div class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        ${data.images.map(image => `
                            <div class="swiper-slide">
                                <div class="feed-img">
                                    <h2>${data.content}</h2>
                                    <img src="files/images/${image.image_url}" alt="">
                                </div>
                            </div>
                        `).join('')}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Navigation -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- Add Scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            ` : `
                <div class="feed-img">
                    <h2>${data.content}</h2>
                   ${data.images[0] != null ? `<img src="files/images/${data.images[0].image_url}" alt="">` : ''}
                </div>
            `}

                        <!------------------- Feed Action Aria------------ -->
                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="fa fa-heart"></i></span>
                                <span><i class="fa fa-comment-dots"></i></span>
                                <span><i class="fa fa-link"></i></span>
                            </div>
                            <div class="bookmark">
                                <i class="fa fa-bookmark"></i>
                            </div>
                        </div>

                        <!-- -----------------Liked by-------------- -->
                        <div class="liked-by">
                                <span>
                                    <img src="./Assets/images/img/n2.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n3.png" alt="">
                                </span>

                            <span>
                                    <img src="./Assets/images/img/n4.png" alt="">
                                </span>

                            <p>liked by <b>Syan Par Chan</b> and <b>77 comments other</b></p>
                        </div>

                        <!-- ----------Caption--------------- -->
                        <div class="caption">
                            <p><b>Chill </b>Lorem ipsum dolor sit amet, consectetur adipisicing.
                                <span class="hars-tag">#lifestyle</span>
                            </p>
                        </div>

                        <!-- -------------Comments------------ -->
                        <div class="comments text-gry">
                            View all comments
                        </div>

                    </div>`;
                //
                document.getElementById('postsContainer').insertAdjacentHTML('beforeend', postDiv);
            });
            var mySwiper2 = new Swiper('.mySwiper2', {
                slidesPerView: 1,
                spaceBetween: 10,
                loop: true,

                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                scrollbar: {
                    el: '.swiper-scrollbar',
                    hide: true,
                },
            });
            console.log("success");
        } else {
            console.log('Response is not an array:', response);
        }
    }).fail(function(xhr, status, error) {
        alert('Request failed: ' + error);
    });
</script>

</body>

</html>